.header {
	background-color: turquoise;
	padding: 15px;
}
.headerbuttons {
	border: 2px solid black;
	background-color: purple;
	padding: 15px;
	margin-right: 20px;
	display: inline-block;
	color: white;
}
.sidebar {
	margin-top: 40px;
	padding: 15px;
	background-color: orange;
	display: inline-block;
	
}
.sidebarbutton {
	color: white;
	display: inline-block;
	border: 2px solid black;
	background-color: brown;
	margin-right: 5%;
	width: 45%;
	box-sizing: border-box;

}