
.header, .footer {
	background-color: #F0F8FF;
	padding: 15px;
	color: white;
}
.header {
	text-align: right;
}
.footer {
	text-align: left;
}
.header div, .footer div {
	display: inline-block;
	font-family: Arial;
	border: 2px outset grey;
	padding: 10px;
	margin-right: 10px;
	background-color: #00BFFF;
}
.mainblock {
	border: 1px blue solid;
	margin: 20px;
	padding: 20px;
}
.mainblock div.content {
	color: black;
	background-color: #F5F5DC;
	border: 0px;
	margin:10px;
	padding: 0px;
}
.content div {
	border: 2px outset grey;
	display: inline-block;
	background-color: darkred;
	color: white;
	padding: 5px;
	margin: 5px;
}
.mainblock > div {
	display: inline-block;
	border: 3px outset darkgrey;
	padding: 5px;
	background-color: white;
	color:blue;
}